@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald/Oswald-Light.eot");
  src: local("Oswald Light"), local("Oswald-Light"),
    url("../fonts/Oswald/Oswald-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Oswald/Oswald-Light.woff") format("woff"),
    url("../fonts/Oswald/Oswald-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald/Oswald-Regular.eot");
  src: url("../fonts/Oswald/Oswald-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Oswald/Oswald-Regular.woff") format("woff"),
    url("../fonts/Oswald/Oswald-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
