body {
  border-top: 5px solid #7e7e7e;
  background-image: url(../img/background.png);
  font-family: 'Oswald';
}
.heading {
  height: 40px;
  background-image: url(../img/background-h1.png);
}
li {
  list-style-type: none;
}
h1 {
  background-image: url(../img/background.png);
  font: normal 40px/40px sans-serif;
}
h2 {
  font: normal 33px/33px sans-serif;
}
h3 {
  border-bottom: 1px solid #919191;
  font-size: 14px;
  line-height: 21px;
}
footer {
  background-color: #7e7e7e;
  font-size: 11px;
}
time a {
  text-decoration: underline;
}
.sitemap a {
  font-size: 12px;
}
.footer-logo {
  font-size: 10px;
}
